body {
    width: 800px;
    margin: 0 auto;
 }

.keypad {
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.container {
    padding: 0px;
}
    
nav.navbar {
    width: inherit;
    /* use to center */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

.alignright {
    float: right;
}

#geldautomat-main {
    padding-top: 60px;
}

#display {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#ausgabeschacht {
    width: 300px;
    min-height: 100px;
    max-height: 100px;
    border: 5px solid black;
    margin: auto;
    width:30%;
    background-color: #3f3f3f
}

#keypad {
    margin: auto;
    width:30%;
}

.centerimg {
    padding-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }